/* Fonts family*/
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Colors */
/* Basic Setting*/
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
a:hover {
  text-decoration: none;
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}
a:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #ffb400;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #e6a200;
}
.form {
  /* Поле для ввода */
  /* Подписи к полям */
  /* Кнопка отправить заявку */
}
.form-input,
.form-textarea {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 0.5rem;
  padding: 1.5rem;
}
.form-label {
  position: absolute;
  padding: 0.5rem;
  font-size: 1.3rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  font-family: 'ProximaNova_reg', sans-serif;
}
.form-btn {
  display: block;
  width: 100%;
  height: 6rem;
  font-size: 1.6rem;
}
.form-inline {
  /* Поле для ввода */
  /* Подписи к полям */
  /* Кнопка отправить заявку */
}
.form-inline-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 0.5rem;
  padding: 1.5rem;
}
.form-inline-label {
  position: absolute;
  padding: 0.5rem;
  font-size: 1.3rem;
  left: 50%;
  -webkit-transform: translate(-50%, 5px);
          transform: translate(-50%, 5px);
  background: #ffffff;
  font-family: 'ProximaNova_reg', sans-serif;
}
.form-inline-btn {
  display: inline-block;
  max-width: 260px;
  height: 68px;
  height: 6rem;
  font-size: 1.6rem;
  margin-top: 28px;
}
section {
  padding: 10rem 0;
}
.section-header {
  text-align: center;
  margin: 2rem 0 10rem;
}
.section-header-light {
  color: #ffffff;
  font-size: 3.6rem;
  margin: 0 auto;
}
.section-header h2 {
  font-size: 3.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 5rem;
}
.section-header p {
  font-size: 1.8rem;
}
.link-z {
  color: #00a300;
}
/* main */
.main {
  padding-top: 3rem;
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
  /* Подзаголовок */
  /* Зеленый ярлык */
  /* Оплата по факту */
  /* Главная форма */
}
.main-content {
  margin-top: 10rem;
  /* Главный заголовок */
}
.main-content h1 {
  margin-top: 0rem;
  margin-bottom: 4rem;
  font-size: 4rem;
  line-height: 1.45;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.main span {
  margin-bottom: 4rem;
  display: inline-block;
  padding: 2.3rem 4rem;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #00be00;
  text-align: center;
  /* Цифра "300" */
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-trigger {
  display: block;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-form {
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
  /* Заголовок формы */
  /* Подпись под кнопкой */
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
.main-text-info {
  margin: 4rem 0;
  text-align: center;
}
/* Шапка */
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-weight: 900;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #14111a;
  font-family: 'ProximaNova_bold', sans-serif;
}
.features-block {
  text-align: center;
}
.features h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 3rem;
}
.features p {
  display: inline-block;
  width: 82%;
  font-size: 1.4rem;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/left-arrow.svg) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/right-arrow.svg) center no-repeat;
  background-size: 70%;
}
.price {
  background: #008100 url(../img/price/bg-price.png) repeat center;
}
.price-button {
  text-align: right;
}
.price-header-btn {
  margin-top: 2.7rem;
  font-size: 16px;
  max-width: 336px;
  max-height: 66px;
}
.price-block {
  margin-top: 9rem;
  padding: 3rem 3rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0 rgba(0, 0, 0, 0.17);
  text-align: center;
  min-height: 60rem;
}
.price-block h4 {
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-list {
  font-size: 1.8rem;
  list-style: none;
  padding: 0;
  line-height: 1.6;
  min-height: 18rem;
}
.price-list li::before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 1.4rem;
  height: 1.4rem;
  vertical-align: middle;
  background: url(../img/price/checked.png) no-repeat center;
  background-size: 100%;
}
.price-tag {
  display: block;
  font-size: 1.9rem;
  margin-bottom: 2rem;
}
.price-img {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin-bottom: 2rem;
}
.feedback {
  position: relative;
  background: url(../img/feedback/bgf.png) no-repeat center;
  background-size: cover;
}
.feedback-text {
  position: relative;
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid #00be00;
  font-style: italic;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  left: 5rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: 2px solid #00be00;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback-prev-btn {
  left: -5rem;
}
.feedback-next-btn {
  right: -5rem;
}
.feedback-slider {
  background-color: #ffffff;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
  padding: 5rem 6rem;
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider .media {
  margin-top: 3rem;
  font-size: 1.4rem;
}
.feedback-slider h4 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 5rem;
  height: 6rem;
  background-color: #00be00;
  border: none;
}
.feedback-form {
  margin-top: 6rem;
  text-align: center;
  background-color: #ffffff;
  padding: 4rem 10rem;
}
.feedback-form h3 {
  font-size: 2.2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 4rem;
}
.hand {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 30rem;
}
.scheme {
  background: #ffffff url(../img/scheme/hand2.png) bottom right -12rem no-repeat;
  background-size: 65rem;
}
.scheme h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2.2rem;
}
.scheme-block {
  min-height: 30rem;
}
.scheme-block img {
  max-height: 96px;
}
.all-inclusive {
  background-color: #f5f5f5;
}
.all-inclusive .media {
  min-height: 15rem;
}
.all-inclusive .media-body h4 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.6rem;
}
.all-inclusive .media-body p {
  font-size: 1.3rem;
}
.section-header_active h2 {
  color: #008100;
}
.circle {
  display: inline-block;
  background-color: #00be00;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border: 2px solid #00be00;
  border-radius: 50%;
  line-height: 4rem;
  text-align: center;
  padding: 3px;
  color: #ffffff;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
}
.problems {
  position: relative;
}
.problems-girl {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -19rem;
}
.problems-list {
  border: 4px solid;
  padding: 2rem;
  min-height: 35rem;
  margin-bottom: 2rem;
}
.problems-list h4 {
  font-size: 2.1rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.problems-list ul {
  padding: 0rem;
  padding-top: 2rem;
  list-style: none;
}
.problems-list ul li {
  position: relative;
  padding-left: 3.5rem;
  margin-bottom: 3rem;
}
.problems-list ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_bad ul li::before {
  background: url(../img/problems/cancel.png) center no-repeat;
}
.problems-list_good {
  border-color: #008100;
}
.problems-list_good ul li::before {
  background: url(../img/problems/checked.png) center no-repeat;
}
.materials {
  padding: 0;
  background: url(../img/materials/bg-m.png) no-repeat center;
}
.materials-block {
  display: inline-block;
  text-align: center;
  min-height: 30rem;
}
.materials h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 3rem;
}
.materials p {
  display: inline-block;
  width: 82%;
  text-align: center;
  font-size: 1.4rem;
}
.materials-img {
  height: 18rem;
  margin-bottom: 3rem;
}
.materials-img img {
  display: block;
  margin: 0 auto;
}
.materials a {
  text-decoration: none;
}
.materials .linl-z:hover {
  color: #008b00;
}
.materials-offer {
  display: block;
  text-align: center;
  margin-top: 4rem;
}
.arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/left-arrow.svg) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/right-arrow.svg) center no-repeat;
  background-size: 70%;
}
.tour {
  background: #ffffff url(../img/tour/tour-bg.png ) center center no-repeat;
  background-size: cover;
  /* Подзаголовок */
  /* Главная форма */
}
.tour-content {
  margin-top: 10rem;
  /* Главный заголовок */
}
.tour-content h1 {
  margin-top: 0rem;
  margin-bottom: 4rem;
  font-size: 4rem;
  line-height: 1.45;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
}
.tour-subtitle {
  margin-bottom: 4rem;
  font-size: 2.1rem;
}
.tour-form {
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
  /* Заголовок формы */
  /* Подпись под кнопкой */
}
.tour-form-header {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.tour-form-header strong {
  font-size: 1.9rem;
}
.tour-form small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
.tour-text-info {
  margin: 4rem 0;
  text-align: center;
}
.tour-btn {
  padding: 1rem 2rem;
}
.upsell {
  background: #286b0a;
}
.upsell p {
  margin-bottom: 70px;
}
.upsell-block {
  text-align: center;
  color: #ffffff;
  min-height: 30rem;
}
.upsell-block img {
  display: inline-block;
  margin-bottom: 2rem;
  width: 80%;
  max-width: 30rem;
}
.upsell-block p {
  margin: 20px 0;
  font-size: 18px;
}
.contacts {
  background: #f5f5f5 url(../src/img/contact/c-bg.png) center no-repeat;
  background-size: cover;
}
.contacts h2 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.contacts p {
  margin-top: 25px;
  margin-bottom: 25px;
}
.contacts a {
  text-decoration: none;
  color: #14111a;
}
.contacts a:hover {
  text-decoration: none;
  color: #008100;
}
.contacts-form h2 {
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 18px;
  margin-bottom: 2rem;
}
footer {
  padding: 4rem 0;
  background-color: #ffffff;
}
.footer-contacts {
  text-align: center;
}
.footer-logo {
  padding-top: 10px;
  text-align: left;
}
.footer-dev-logo {
  text-align: right;
}
.footer a {
  text-decoration: none;
  color: #14111a;
}
.footer a:hover {
  text-decoration: none;
  color: #008100;
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  text-align: center;
  position: fixed;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
  padding: 3rem 4rem 4rem;
}
.popup h4 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -3rem;
  color: #ffffff;
  border: none;
  background: none;
  font-size: 3rem;
}
.popup-form {
  padding: 0;
  margin-top: 3rem;
}
.list-btn {
  max-width: 210px;
  max-height: 66px;
  font-size: 18px;
}
@media (min-width: 200px) and (max-width: 1199px) {
  .phone-block {
    text-align: center;
  }
  .price-button {
    text-align: right;
    margin-bottom: 2rem;
  }
  .popup-content {
    text-align: center;
    position: fixed;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #ffffff;
    padding: 0;
  }
  .feedback-form {
    padding: 3rem 5rem;
  }
  .fotorama {
    margin-bottom: 3rem;
  }
  .problems-list {
    min-height: 40rem;
  }
}
@media (min-width: 200px) and (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .main-text-info {
    color: #ffffff;
  }
  .main-content {
    text-align: center;
    margin-top: 3rem;
  }
  .main-title {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .main-form {
    text-align: center;
  }
  .price {
    padding: 2rem;
  }
  .price-button {
    text-align: center;
    margin-bottom: 2rem;
  }
  .price-block {
    margin-top: 1.5rem;
  }
  .form-inline-label {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .hand {
    display: none;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback-next-btn {
    right: 0;
  }
  .problems-girl {
    display: none;
  }
  .problems-list {
    min-height: auto;
  }
  .tour {
    margin-top: 0;
    background: none;
    background-color: #f5f5f5;
  }
  .contacts {
    background: none;
    background-color: #f5f5f5;
  }
  .footer-logo {
    text-align: center;
  }
  .footer-contacts {
    text-align: center;
    margin: 30px 0;
  }
  .footer-dev-logo {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .button {
    padding: 1rem 2.8rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .scheme {
    text-align: center;
    background: none;
  }
}
@media (min-width: 200px) and (max-width: 575px) {
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .main-content h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .main-form {
    padding: 2rem;
  }
  .main-subtitle {
    font-size: 1.8rem;
  }
  .main-trigger {
    color: #ffffff;
  }
  .main-form-header {
    font-size: 1.5rem;
  }
  .main-form-header strong {
    font-size: 1.6rem;
  }
  .scheme {
    text-align: center;
    background: none;
  }
}
button:hover {
  -webkit-animation-name: hinge;
          animation-name: hinge;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.animate__pulse {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
